{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-optional-chaining",
    [
      "@babel/proposal-decorators", {
        "legacy": true
      }
    ],
    "@babel/proposal-class-properties"
  ]
}
